<div id="Login">
  <div class="opactity_controller">
    <header>
    </header>

    <div class="content">
      <div>
        <h1>Create movie</h1>

        <form [formGroup]="createMovieForm" (ngSubmit)="onSubmit()">
          <input type="text" placeholder="Title" formControlName="title" />
          <input type="text" placeholder="Genres" formControlName="genres" />
          <input type="text" placeholder="Actors" formControlName="actors" />
          <input type="text" placeholder="Description" formControlName="description" />
          <input type="text" placeholder="Directors" formControlName="directors" />
          <input type="text" placeholder="Series" formControlName="series" />
          <input type="file" accept="video/mp4" (change)="onFileChange($event)" placeholder="Upload movie" formControlName="movieFile" />
          <button type="submit">Create movie</button>
        </form>
      </div>
    </div>
  </div>
</div>
