<div id="Login">
  <div class="opactity_controller">
    <footer>
      <p>Questions? Call <a>0800-761-4631</a></p>

      <ul>
        <li>Prepaid Card Terms</li>
        <li>Terms of Use</li>
        <li>Privacy Statement</li>
      </ul>

      <div>
        <img src="./assets/vectors/globe.svg" alt="globe" />
        <select name="select" id="select">
          <option value="a">Portuguese</option>
          <option value="b">English</option>
        </select>
      </div>
    </footer>
  </div>
</div>
