<div class="accommodation-card-container" >
  <div class="accommodation-card-park-lineapartmentin-miami-fl1">
    <img
      src="assets/er.jpg"
      class="accommodation-card-image"
    />
  </div>
  <div class="accommodation-card-matimg">
    <span class="accommodation-card-text"><span>Catch me if you can</span></span>
    <span class="accommodation-card-text02"><span>10.05.2024.</span></span>
    <div class="accommodation-card-price">
      <div>
        <span class="accommodation-card-text14"><span>8.7/10</span></span>
<!--        <span class="accommodation-card-text16"><span>{{ text7 }}</span></span>-->
      </div>

    </div>
    <div class="edit-accommodation-container">
      <button class="edit-accommodation-btn">Watch</button>
      <div>
      </div>
    </div>
  </div>
</div>
