<div class="accommodation-card-container" >
  <div class="accommodation-card-park-lineapartmentin-miami-fl1">
    <img
      src="assets/ladygaga.jpg"
      class="accommodation-card-image"
      (click)="navigateToMovieDetails()"
    />
  </div>
  <div class="accommodation-card-matimg" (click)="navigateToMovieDetails()">
    <span class="accommodation-card-text" (click)="navigateToMovieDetails()"><span>{{ movie.title }}</span></span>
    <span class="accommodation-card-text02"><span>{{ movie.description }}</span></span>
    <div class="accommodation-card-price">
      <div>
<!--        <span class="accommodation-card-text14"><span>8.7/10</span></span>-->
<!--        <span class="accommodation-card-text16"><span>{{ text7 }}</span></span>-->
      </div>

    </div>
    <div class="edit-accommodation-container" >
      <button class="edit-accommodation-btn" (click)="navigateToMovieDetails()">Watch</button>
      <div>
      </div>
    </div>
  </div>
</div>
