<body>
<main>
  <section id="hero">
    <h1>Welcome</h1>
    <p>Discover the latest movies and classic hits <br/>in the best resolution and sound. </p>
  </section>
</main>
<div class="cards-container">
  <div class="cards-desktop11">
    <div class="cards-title">
      <span>Movies</span>
    </div>
    <div class="search-box-container">
      <div class="search-box">
        <input type="text" placeholder="Type here to search">
        <button>Search</button>
      </div>
    </div>
    <div class="cards-cardscontent">
        <app-movie-card *ngFor="let movie of movies" [movie]="movie"></app-movie-card>
    </div>
  </div>
</div>
</body>

