<body>
<div class="cards-container">

  <div class="cards-desktop11">

    <div class="cards-cardscontent">
      <!--      <div *ngFor="let accommodation of accommodationsForShow">-->
      <!--        <app-accommodation-card (clicked)="onAccommodationClicked($event)" [accommodation]="accommodation"></app-accommodation-card>-->
      <!--      </div>-->
      <app-movie-card></app-movie-card>
      <app-movie-card></app-movie-card>
      <app-movie-card></app-movie-card>
      <app-movie-card></app-movie-card>
      <app-movie-card></app-movie-card>
      <app-movie-card></app-movie-card>
      <app-movie-card></app-movie-card>
      <app-movie-card></app-movie-card>

    </div>
  </div>
</div>
</body>


