<div id="Login">
  <div class="opactity_controller">
    <header>
      <img src="./assets/logo.png" alt="logo" />
    </header>

    <div class="content">
      <div>
        <h1>Login</h1>

        <form action="">
          <input type="text" placeholder="Email or phone number" />
          <input type="password" placeholder="Password" />
          <button type="submit">Login</button>
          <div>
            <label htmlFor="remember-login">
              <input
                type="checkbox"
                defaultChecked
                name="remember"
                id="remember-login"
              />
              <span>Remember me</span>
            </label>
            <a href="http://localhost:4200">Need help?</a>
          </div>
        </form>
        <button>
          <img src="./assets/vectors/facebook.svg" alt="facebook" /> Connect with Facebook
        </button>
        <h6>New here? <span> <a href="/registration">Sign up now</a></span></h6>
        <span>
          This page is protected by Google reCAPTCHA
          <br />
          to ensure you are not a robot. <a href="">Learn more.</a>
        </span>
      </div>
    </div>

    <footer>
      <p>Questions? Call <a>0800-761-4631</a></p>

      <ul>
        <li>Prepaid Card Terms</li>
        <li>Terms of Use</li>
        <li>Privacy Statement</li>
      </ul>

      <div>
        <img src="./assets/vectors/globe.svg" alt="globe" />
        <select name="select" id="select">
          <option value="a">Portuguese</option>
          <option value="b">English</option>
        </select>
      </div>
    </footer>
  </div>
</div>
