<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Navbar</title>
</head>
<body>
<header>
  <div class="navbar">
    <div class="logo"><a href="#"><img src="/assets/logo.png"></a></div>
    <ul class="links">
      <li><a href="#hero">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <a href="/login" class="action_btn">Sign in</a>
    <div class="toggle_btn">
    </div>
  </div>
</header>
<main>
  <section id="hero">
    <h1>Welcome</h1>
    <p>Discover the latest movies and classic hits <br/>in the best resolution and sound. </p>
  </section>
</main>

</body>
</html>
