<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Navbar</title>
</head>
<body>
<header>
  <div class="navbar">
    <div class="logo"><a href="#"><img src="/assets/logo.png"></a></div>
    <ul class="links">
      <li><a href="">Home</a></li>
      <li><a href="/subscriptions">Subscriptions</a></li>
      <li *ngIf="role?.includes('Admins')"><a href="/create-movie">Create movie</a></li>
    </ul>
    <a *ngIf="role==null" href="/login" class="action_btn">Sign in</a>
    <a *ngIf="role!=null" class="action_btn" (click)="signOut()">Sign out</a>

    <div class="toggle_btn">
    </div>
  </div>
</header>
</body>
</html>
