.filter-input{
  width:100%;
}
mat-label{
  color: white;
}
.title{
  color: white;
}
.review-content{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: hsl(216, 22%, 18%);
}
body{
  background-color: hsl(216, 22%, 18%);
}

#select-rating{
  color: white;
}

.mat-dialog-actions {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

mat-dialog-title{
  color: white;
}

#review-textarea{
  height: 120px;
  color: white;
}

.page-stylelayer1 {
  gap: 4px;
  display: flex;
  flex-shrink: 0;
  border-radius: 50px;
  justify-content: center;
  background-color: red;
}
span{
  color: white;
}

.page-text3 {
  height: auto;
  text-align: left;
  line-height: normal;
  color:white;
  font-weight: 650;
}
