<h1 mat-dialog-title>Movie review</h1>
<div class="review-content">
  <mat-form-field appearance="outline">
    <mat-select>
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
      <mat-option value="4">4</mat-option>
      <mat-option value="6">6</mat-option>
      <mat-option value="7">7</mat-option>
      <mat-option value="8">8</mat-option>
      <mat-option value="9">9</mat-option>
      <mat-option value="10">10</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <textarea matInput id="review-textarea"></textarea>
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button class="page-stylelayer1" id="cancel-review">
      <span class="page-text3 MontserratSemibold14px">
        <span>Cancel</span>
      </span>
    </button>
    <button mat-button class="page-stylelayer1">
      <span class="page-text3 MontserratSemibold14px">
        <span>Review movie</span>
      </span>
    </button>
  </div>
</div>

