<div class="cards-container">
  <div class="cards-desktop11">
    <div class="cards-title">
      <span>Subscribe to genre</span>
    </div>
    <form [formGroup]="subscriptionsGenreForm">
      <div class="search-box-container">
        <div class="search-box">
          <input formControlName="genre" type="text" placeholder="Type a genre you want to subscribe to" required>
          <button type="submit" (click)="subscribeToGenre()">Subscribe</button>
        </div>
      </div>
    </form>

    <div class="cards-title">
      <span>Subscribe to actor</span>
    </div>
    <form [formGroup]="subscriptionsActorForm">
      <div class="search-box-container">
        <div class="search-box">
          <input formControlName="actor" type="text" placeholder="Type an actor you want to subscribe to" required>
          <button type="submit" (click)="subscribeToActor()">Subscribe</button>
        </div>
      </div>
    </form>

    <div class="cards-title">
      <span>Subscribe to director</span>
    </div>
    <form [formGroup]="subscriptionsDirectorForm">
      <div class="search-box-container">
        <div class="search-box">
          <input formControlName="director" type="text" placeholder="Type a director you want to subscribe to" required>
          <button type="submit" (click)="subscribeToDirector()">Subscribe</button>
        </div>
      </div>
    </form>

    <div class="cards-title">
      <span>Subscriptions: </span>
    </div>
    <div class="cards-cardscontent">
      <app-subscriptions-card *ngFor="let subscription of subscriptions" [subscription]="subscription"></app-subscriptions-card>
    </div>
  </div>
</div>
